Flask
Werkzeug==2.3.7
flask-cors
librosa==0.10
numpy==1.20.3
mutagen
pylint
autopep8
black==19.10b0
isort
pytest
pydub
mecab-python3
spleeter==2.4.0
wheel
setuptools
git+https://github.com/openai/whisper.git