Flask==2.0.3
Flask-Cors==4.0.1
click==7.1.2
Werkzeug==2.3.7
flask-cors
librosa==0.10
numpy==1.20.3
mutagen
pylint
autopep8
black==19.10b0
isort
pytest
pydub
spleeter==2.4.0
wheel
setuptools
git+https://github.com/openai/whisper.git@8bc8860694949db53c42ba47ddc23786c2e02a8b
